<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.micheleb.garageopener"
        versionCode = "10"
        version     = "0.1.0" >

  <name>Garage Opener</name>

  <description>
    Garage opener application
  </description>

  <author href="https://github.com/mberionne/garageopener" email="mberionne@gmail.com">
    Michele Berionne
  </author>


  <plugin name="cordova-plugin-whitelist"      source="npm" spec="1.1.0" />
  <allow-navigation href="*" />
  <access origin="https://api.particle.io"></access>
  <allow-intent href="https://*/*" /> 
  
  <platform name="android">
    <!-- https://developer.android.com/guide/practices/ui_guidelines/icon_design_launcher.html
         xxxhdpi = 192 x 192
         xxhdpi  = 144 x 144
         xhdpi   = 96 x 96
         hdpi    = 72 x 72
         mdpi    = 48 x 48
         ldpi    = 36 x 36
    -->
    <icon   src="www/res/icon/android/ic_launcher_ldpi.png"               density="ldpi" />
    <icon   src="www/res/icon/android/ic_launcher_mdpi.png"               density="mdpi" />
    <icon   src="www/res/icon/android/ic_launcher_hdpi.png"               density="hdpi" />
    <icon   src="www/res/icon/android/ic_launcher_xhdpi.png"              density="xhdpi" />
    <icon   src="www/res/icon/android/ic_launcher_xxhdpi.png"             density="xxhdpi" />
    <icon   src="www/res/icon/android/ic_launcher_xxxhdpi.png"            density="xxxhdpi" />
  </platform>

  
</widget>