/*******************************************
   General definitions
*******************************************/
body {
  background-color: white;
  background-image: url("background.jpg");
  color: black;
}

/* Class to hide element */
.hidden {
  display: none;
}

/* Class to show element */
.visible {
  display: normal;
}

/*******************************************
   Header
*******************************************/
.header {
  font-size: 24pt;
  border-width: thick;
  text-align: center;
  background-color: #ffab23;
  background-image: -moz-linear-gradient(#ffec64, #ffab23);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffab23), to(#ffec64));
  background-image: -webkit-linear-gradient(#ffec64, #ffab23);
  background-image: -o-linear-gradient(#ffec64, #ffab23);
  height: 50px;
  padding-top: 10px;
}

.version {
  font-size: 6pt;
}

img.settingsIcon {
  float: right;
  margin-left: 10px;
  margin-right: 20px;
  margin-top: 3px;
}

.afterheader {
  background-color: blue;
  height: 2px;
}

/*******************************************
   Style for main page
*******************************************/
.doorstatus {
  font-size: 16pt;
  color: black;
  margin-top: 70px;
  margin-bottom: 50px;
  margin-left: 10%;
  margin-right: 10%;
  padding: 16px;
  border: 1px solid #bbbbbb;
  border-radius: 8px;
  background-color: white;
}

/* Refresh button */
img.refreshButton {
  border: 2px;
  margin-right: 35px;
}

/* Action button */
.actionDiv {
  text-align: center;  
  display: normal;
}
.actionButton {
  -moz-box-shadow:inset 0px 1px 0px 0px #7a8eb9;
  -webkit-box-shadow:inset 0px 1px 0px 0px #7a8eb9;
  box-shadow:inset 0px 1px 0px 0px #7a8eb9;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #637aad), color-stop(1, #5972a7));
  background:-moz-linear-gradient(top, #637aad 5%, #5972a7 100%);
  background:-webkit-linear-gradient(top, #637aad 5%, #5972a7 100%);
  background:-o-linear-gradient(top, #637aad 5%, #5972a7 100%);
  background:-ms-linear-gradient(top, #637aad 5%, #5972a7 100%);
  background:linear-gradient(to bottom, #637aad 5%, #5972a7 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#637aad', endColorstr='#5972a7',GradientType=0);
  background-color:#637aad;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  border:1px solid #314179;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:20px;
  font-weight:bold;
  padding:22px 25%;
  text-decoration:none;
}
.actionButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5972a7), color-stop(1, #637aad));
  background:-moz-linear-gradient(top, #5972a7 5%, #637aad 100%);
  background:-webkit-linear-gradient(top, #5972a7 5%, #637aad 100%);
  background:-o-linear-gradient(top, #5972a7 5%, #637aad 100%);
  background:-ms-linear-gradient(top, #5972a7 5%, #637aad 100%);
  background:linear-gradient(to bottom, #5972a7 5%, #637aad 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5972a7', endColorstr='#637aad',GradientType=0);
  background-color:#5972a7;
}
.actionButton:active {
  position:relative;
  top:1px;
}


/*******************************************
   Style for settings page
*******************************************/
fieldset {
  width: 93%;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  padding: 3%;
  text-align: left;
  background-color: white;
}

legend {
  background-color: #efefef;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  padding: 5px 15px;
  text-align: left;
}  

input {
  font-size: 12pt;
  width: 96%;
  height: 25px;
  text-align: left;
  padding: 2%;
  border: 1px solid;
  background-color: #f2f2f2;
}
input:focus {
  background-color: #ffffff;
  border: 1px solid #b1e1e4;
}

button.savebutton {
  font-size: 20pt;
  background-color: #b3ffb3;
  border-radius: 6px;
  margin-top: 20px;
}

.errorInput {
  color: red;
  display: normal;
}


/*******************************************
   Style for password page
*******************************************/
.pwdButton {
  -moz-box-shadow:inset 0px 0px 14px -3px #f2fadc;
  -webkit-box-shadow:inset 0px 0px 14px -3px #f2fadc;
  box-shadow:inset 0px 0px 14px -3px #f2fadc;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dbe6c4), color-stop(1, #9ba892));
  background:-moz-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
  background:-webkit-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
  background:-o-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
  background:-ms-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
  background:linear-gradient(to bottom, #dbe6c4 5%, #9ba892 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbe6c4', endColorstr='#9ba892',GradientType=0);
  background-color:#dbe6c4;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  border:1px solid #b2b8ad;
  display:inline-block;
  cursor:pointer;
  color:#1e1f1d;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
	padding-top:20px;
	padding-bottom:20px;
	text-decoration:none;
  width:85%;
}
.pwdButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #9ba892), color-stop(1, #dbe6c4));
  background:-moz-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
  background:-webkit-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
  background:-o-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
  background:-ms-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
  background:linear-gradient(to bottom, #9ba892 5%, #dbe6c4 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9ba892', endColorstr='#dbe6c4',GradientType=0);
  background-color:#9ba892;
}
.pwdButton:active {
  position:relative;
  top:1px;
}

.pwdKeypad {
  margin-top: 70px;
  margin-bottom: 50px;
  margin-left: 8%;
  margin-right: 8%;
  padding: 16px;
  border: 1px solid #bbbbbb;
  border-radius: 8px;
  text-align: center;
  background-color: white;
}

.pwdTable {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
  text-align: center;
  margin: 0px auto;
  table-layout: fixed;
}

.pwdCode {
  vertical-align: middle;
  margin: 10px auto;  
  margin-bottom: 25px;
  padding:5px;
  border: 2px solid #555555;
  border-radius: 8px;
  width: 65%;
  text-align: center;
  font-family:Arial;
  font-size:40px;
  font-weight:bold;
}



